<div class="container" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px" fxFill>
  <mat-table [dataSource]="locations" class="mat-table">
    <ng-container matColumnDef="LocationID">
      <mat-header-cell *matHeaderCellDef> LocationID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.LocationID}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="PlayerID">
      <mat-header-cell *matHeaderCellDef> PlayerID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.PlayerID}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="LocationName">
      <mat-header-cell *matHeaderCellDef> LocationName </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.LocationName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Region">
      <mat-header-cell *matHeaderCellDef> Region </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Region}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Area">
      <mat-header-cell *matHeaderCellDef> Area </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Area}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-card class="bg-color1">
    <mat-card-header>
      <mat-card-title>
        <span>Harita</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br>
      <p class="ml">Girilen parametrelere göre harita üretir.</p>
      <br>
      <form #MapForm="ngForm" (ngSubmit)="CreateLocations()">
        <mat-form-field floatLabel="auto" appearance="outline" fxFill>
          <mat-label>Bölge</mat-label>
          <input matInput type="number" id="region1" name="region1" #region1="ngModel" [(ngModel)]="region"
            (keyup)="Reset()" required>
        </mat-form-field>
        <mat-form-field floatLabel="auto" appearance="outline" fxFill>
          <mat-label>Alan</mat-label>
          <input matInput type="number" id="area1" name="area1" #area1="ngModel" [(ngModel)]="area" (keyup)="Reset()"
            required>
        </mat-form-field>
        <button mat-raised-button type="submit" class="btn-color1" [disabled]="MapForm.invalid" fxFill>Üret</button>
      </form>
      <button mat-raised-button (click)="DeleteLocations()" class="btn-color1" fxFill>Sil</button>
    </mat-card-content>
  </mat-card>
</div>